body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.header-img {
  background: linear-gradient( rgba(0,188,212,0.85), rgba(0,188,212,0.85) );
  min-height: 800px;
  height: auto;
}

.footer-img {
  background: linear-gradient( rgba(0,188,212,0.85), rgba(0,188,212,0.85) );
  height: auto;
  padding-bottom: 50px;
  padding-top: 20px;
}

footer.page-footer {
  margin-top: 0px;
  padding: 0px;
}

#codemzy-img {
  background-color: #0097a7;
  border-radius: 50px;
}

.chip {
  margin: 5px;
}

#about .section {
  padding-bottom: 0px!important;
}

.wave {
  margin: 0 auto;
	width: 250px;
	height: 185px;
	background-image: url(../img/armwaving.png);
  background-position: 0px;
}

.lightbulb {
  margin: 0 auto;
	width: 160px;
	height: 185px;
	background-image: url(../img/lightbulb.png);
  background-position: 0px;
}

.pen {
  margin: 20px auto;
	width: 325px;
	height: 74px;
	background-image: url(../img/penopens.png);
  background-position: 325px;
}

.tabs {
  overflow-x: hidden;
}

.tabs .tab a {
    color: #00bcd4;
}

.tabs .tab a:hover {
    color: #b2ebf2;
}

.tabs .indicator {
  background-color: #00bcd4;
}

.browser {
  border: 1px solid #b0bec5;
  border-radius: 5px;
  max-height: 400px;
  overflow: hidden;
}

.browser img {
  margin-bottom: -7px;
}

.browser-top {
  height: 40px;
  border-bottom: 1px solid #b0bec5;
  padding: 5px;
}

.browser-circle {
  border: 1px solid #90a4ae;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin-top: 7px;
  margin-right: 2px;
  float: left;
}

.browser-address {
  border: 1px solid #b0bec5;
  color: #90a4ae;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  width: 80%;
  float: right;
  overflow: hidden;
}

.project-details h2 {
  font-family:sans-serif;
  font-weight: bold;
}

.project-details .chip {
  border-radius: 0px;
  margin: 0px;
}

.project-row {
  padding-top: 50px;
  padding-bottom: 5px;
}

.btn {
  margin-bottom: 4px;
}

.btn-floating {
  position: fixed;
}

#btn-sidemenu {
  border-radius: 0px;
  height: 50px;
  width: 100px;
}

.card-contact {
  height: 500px;
}

input:not([type]).invalid+label:after, input:not([type]):focus.invalid+label:after, input[type=text].invalid+label:after, input[type=text]:focus.invalid+label:after, input[type=password].invalid+label:after, input[type=password]:focus.invalid+label:after, input[type=email].invalid+label:after, input[type=email]:focus.invalid+label:after, input[type=url].invalid+label:after, input[type=url]:focus.invalid+label:after, input[type=time].invalid+label:after, input[type=time]:focus.invalid+label:after, input[type=date].invalid+label:after, input[type=date]:focus.invalid+label:after, input[type=datetime-local].invalid+label:after, input[type=datetime-local]:focus.invalid+label:after, input[type=tel].invalid+label:after, input[type=tel]:focus.invalid+label:after, input[type=number].invalid+label:after, input[type=number]:focus.invalid+label:after, input[type=search].invalid+label:after, input[type=search]:focus.invalid+label:after, textarea.materialize-textarea.invalid+label:after, textarea.materialize-textarea:focus.invalid+label:after {
  width: 200px;
}

input:not([type]).valid+label:after, input:not([type]):focus.valid+label:after, input[type=text].valid+label:after, input[type=text]:focus.valid+label:after, input[type=password].valid+label:after, input[type=password]:focus.valid+label:after, input[type=email].valid+label:after, input[type=email]:focus.valid+label:after, input[type=url].valid+label:after, input[type=url]:focus.valid+label:after, input[type=time].valid+label:after, input[type=time]:focus.valid+label:after, input[type=date].valid+label:after, input[type=date]:focus.valid+label:after, input[type=datetime-local].valid+label:after, input[type=datetime-local]:focus.valid+label:after, input[type=tel].valid+label:after, input[type=tel]:focus.valid+label:after, input[type=number].valid+label:after, input[type=number]:focus.valid+label:after, input[type=search].valid+label:after, input[type=search]:focus.valid+label:after, textarea.materialize-textarea.valid+label:after, textarea.materialize-textarea:focus.valid+label:after {
    width: 200px;
}

.form-thanks, .form-verify, .form-subject {
  display: none;
}